<div class="container " id="container">

    <mat-toolbar class="secondry">
        <div class="center">
            <img src="assets/img/logo.jpg" title="Sarvatra" alt="Sarvatra">
        </div>
    </mat-toolbar>

    <mat-toolbar class="primary">
    </mat-toolbar>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right center">
                <h2 class="heading-text">{{welcomeMsg}}</h2>
                <form [formGroup]="loginRequiredForm" (ngSubmit)="login()">
                    <div>
                        <mat-form-field [appearance]="configData.loginInputBox">
                            <mat-label>
                                <mat-icon>person</mat-icon>User ID
                            </mat-label>
                            <input matInput name="userName" autocomplete="off" formControlName="userName"
                                onkeypress="return event.charCode != 32">
                            <mat-icon mat-icon-button matSuffix>person</mat-icon>
                            <mat-error *ngIf="loginRequiredForm.controls['userName'].hasError('required')">
                                User ID is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>

                        <mat-form-field [appearance]="configData.loginInputBox">
                            <mat-label>
                                <mat-icon> vpn_key</mat-icon>Password
                            </mat-label>
                            <input matInput formControlName="password" [ngClass]="hide ? 'mask' : ''" autocomplete="off"
                                name="password">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>

                            <mat-error *ngIf="loginRequiredForm.controls['password'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <ngx-captcha *ngIf="showCaptcha" #captcha [config]="captchaConfig" required></ngx-captcha>

                    </div>
                    <div>
                        <button mat-raised-button class="btn-primary" type="submit">
                            <i class="fa-solid fa-user"></i>{{configData.loginBtnTxt}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>