.usermanagement {
    padding: 0 15px;
    margin-bottom: 39%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.btnuser {
    margin-left: 1201px;
    align-items: center;
    margin-top: 24px;
}

.add-btn-user {
    float: right;
    margin-right: 0 !important;
    margin-left: 1201px;
    width: unset;
    margin-top: 1.7em;
}

.usrbtn {
    margin-left: 1201px;
    margin-top: 24px;
}