.grid-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .gridxBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    margin-top: 15px;
  }
  .mat-mdc-form-field {
    margin-right: 1% !important;
  }
  .mask {
    -webkit-text-security: disc;
  }
  
  mat-error {
    display: block;
  }
  
  .full-width {
    display: block;
  }
  
  .full-width button {
    width: 100%;
  }
  
  
  .form-btn {
    margin: 1px 5px 17px 2px !important;
  }
  
  mat-error,
  mat-hint {
    margin-top: 0px;
  }
  
  @media (min-width: 768px) {
    .example-full-width {
      width: 90%;
      margin-left: 5%;
    }
  }
  
  .mat-mdc-card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 90%;
  }
  
  @media (min-width: 768px) {
    .mat-mdc-card {
      width: 50%;
    }
  }
  
  .password-toggle {
    position: absolute;
    right: 0;
    top: 29%;
    transform: translateY(-50%);
  }