<div class="grid-container">
    <mat-expansion-panel [expanded]="panelOpen">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Change Password
                <h5 *ngIf="USING_TEMP_PASS" style="color: red; margin: 27px 0px 2px;" class="theme-color">
                    Please change the default password to continue
                </h5>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div [ngClass]="{'overlay-panel2': USING_TEMP_PASS == true, 'overlay-panel1': USING_TEMP_PASS != true}">
            <form [formGroup]="changpassword">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Current Password</mat-label>
                        <input id="oldPassword" matInput required autocomplete="off" formControlName="oldPassword"
                            [ngClass]="oldPassword_hide ? 'mask' : ''">
                        <button type="button" mat-icon-button matSuffix (click)="oldPassword_hide = !oldPassword_hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPassword_hide">
                            <mat-icon>{{oldPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="changpassword.controls['oldPassword'].hasError('required')">
                            Current Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input id="newPassword" matInput required autocomplete="off" formControlName="newPassword"
                            [ngClass]="newPassword_hide ? 'mask' : ''" pattern="{{pwdPattern}}">
                        <button type="button" mat-icon-button matSuffix (click)="newPassword_hide = !newPassword_hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPassword_hide">
                            <mat-icon>{{newPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="changpassword.controls['newPassword'].hasError('required')">
                            New Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="changpassword?.get('newPassword')?.hasError('pattern')">
                            {{ strongPassword }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input id="confirmPassword" matInput required autocomplete="off"
                            formControlName="confirmPassword" [ngClass]="confirmPassword_hide ? 'mask' : ''">
                        <button type="button" mat-icon-button matSuffix
                            (click)="confirmPassword_hide = !confirmPassword_hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="confirmPassword_hide">
                            <mat-icon>{{confirmPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="changpassword.controls['confirmPassword'].hasError('required')">
                            Confirm Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-error class="mat-validate" style="margin-top: -15px"
                        *ngIf="changpassword.errors?.['mismatch'] && changpassword.controls['confirmPassword'].touched && changpassword.controls['confirmPassword'].valid">
                        Confirm Password does not match
                    </mat-error>
                </div>
                <mat-dialog-actions style="display: inline-flex;"
                    [ngClass]="USING_TEMP_PASS ? 'full-width' : 'dialog-action'">
                    <button mat-button type="submit" class="form-btn" (click)="onSubmit()">
                        CHANGE</button>
                    <button *ngIf="!USING_TEMP_PASS" routerLink="/search-transaction" mat-button class="btn-cancel form-btn">
                        CANCEL</button>
                </mat-dialog-actions>
            </form>
        </div>
