.grid-container .mat-mdc-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-form-field {
    margin-right: 1% !important;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 5px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
}

.example-box {
    padding: 10px 10px;
    height: 35px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box.selected {
    background: greenyellow;

}

.multi {
    opacity: 1;
}

.multi:before {
    content: "";
    position: absolute;
    opacity: 1;
    width: 300px;
    height: 300px;
    display: block;
    z-index: 100;
    background-size: 50%;
}

.single {
    min-height: 60px;
    width: 400px;
    padding: 20px 10px;
    background: white;
}

.note-txt {
    color: #3f51b5;
    font-size: smaller;
    margin-bottom: 0;
}

.form-btn {
    margin: 1px 5px 17px 2px !important;
}

.disabled {
    background-color: lightgrey;
    opacity: 0.5 !important;
    pointer-events: none;
}