<div class="grid-container">
    <mat-panel-title>
        <h2>Role Information</h2>
    </mat-panel-title>
    <form [formGroup]='pickListForm'>
        <mat-form-field appearance="outline" class="namesize">
            <mat-label>Role</mat-label>
            <input matInput autocomplete="off" formControlName="name" maxlength="50">
            <mat-error *ngIf="pickListForm.get('name')?.hasError('pattern')">
                Please enter valid Role Name
            </mat-error>
            <mat-error *ngIf="pickListForm.get('name')?.hasError('required')">
                Please enter Role Name
            </mat-error>
        </mat-form-field>
        <div class="example-container">
            <h2>Available Permissions</h2>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="availablePermissions"
                [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of availablePermissions" cdkDrag
                    (cdkDragStarted)="test($event)" (click)="onKeyDown($event, item, availablePermissions)"
                    [ngClass]="{'selected':item.selected,'disabled':isView}">
                    {{item.value}}
                </div>
            </div>

            <p class="note-txt">
                &nbsp;* Drag and drop the permissions to assign or remove the roles</p>
            <p class="note-txt">
                &nbsp;* Use ctrl key to select multiple permissions</p>
        </div>
        <div class="example-container">
            <h2>Assigned Permissions</h2>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="assignedPermissions"
                [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of assignedPermissions" cdkDrag
                    (click)="onKeyDown($event, item, assignedPermissions)"
                    [ngClass]="{'selected':item.selected,'disabled':isView}">
                    {{item.value}}
                </div>
            </div>
        </div>
        <br>
        <div>
            <button mat-raised-button class="form-btn" (click)="onSubmit()" *ngIf="!isView">SAVE</button>
            <button mat-raised-button class="btn-cancel form-btn" (click)="onClose()" *ngIf="!isView">BACK</button>
        </div>
    </form>
</div>